<html>
	<head>
		<title>Story Board</title>
	</head>
	<body>
		<div id="notice" class="notice"><%= flash[:notice] %></div>
		<div id="error" class="error"><%= flash[:error] %></div>
		<%= yield :layout %>
	</body>
</html>